@model Locadora.Models.Movies

@{
    ViewBag.Title = "Detalhes do Serviço";
}

<h1>Detalhes do Serviço</h1>
<hr />
<div>
    <div class="form-horizontal">
        <fieldset disabled="disabled">
            @Html.Partial("ModelForm", this.Model)
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

