@model Locadora.Models.Movies

@{

    ViewBag.Title = "Editar Serviço";
}

<h1>Editar Serviço</h1>
<hr />

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.Partial("ModelForm", this.Model)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar alterações" class="btn btn-success" data-target="#ModalConfirmEdit" data-toggle="modal" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="ModalConfirmEdit">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ops, olha o que você vai fazer em!</h4>
                </div>
                <div class="modal-body">
                    <p><h3 class="text-danger">Tem certeza que deseja <strong>me</strong> editar?</h3></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Salvar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
