@model Locadora.Models.Movies
@Html.HiddenFor(m => m.Id)

<div class="form-group">
    @Html.LabelFor(m => m.Nome, new { @class = "control.label com-md-2"})
    <div>
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", maxlenght = 50 })
        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
    </div>
</div>