@model Locadora.Models.Movies

@Html.HiddenFor(m => m.Id)

<div class="form-group">
    @Html.LabelFor(m => m.Nome, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", maxlength = 100 })
        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
    </div>
</div>